<div id="<%= dom_id listing %>">
  <p>
    <strong>Type:</strong>
    <%= listing.type %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= listing.published %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= listing.published_at %>
  </p>

  <p>
    <strong>Lost found date:</strong>
    <%= listing.lost_found_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= listing.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= listing.user_id %>
  </p>

</div>
