<div id="<%= dom_id listing %>">
  <p>
    <strong>Listing type:</strong>
    <%= listing.listing_type %>
  </p>

  <p>
    <strong>Last seen:</strong>
    <%= listing.last_seen %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= listing.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= listing.user_id %>
  </p>

</div>
