<div class="form-group mb-3 pet-image">
    <% if @listing.pet.pet_image.attached? %>
        <%# image_tag @listing.pet.pet_image.representation(resize_to_limit: [100, 100]) %>
        <%= image_tag @listing.pet.pet_image %>
    <% else %>
        <%# pet_builder.file_field :pet_image, direct_upload: true,  { class: 'image-fluid'} %>
        <%= pet_builder.file_field :pet_image, {multiple: false, direct_upload: true, class: 'image-fluid' } %>
    <% end %>
</div>

<div class="form-group mb-2">
    <%= pet_builder.label :name, { class: 'form-label'} %>
    <%= pet_builder.text_field :name, { class: 'form-control'} %>
    <%= feedback_for? @listing, :"pet.name" %>
</div>
<div class="form-group mb-2">
    <%= pet_builder.label :species, { class: 'form-label'} %>
    <%= pet_builder.select :species,
        options_for_select(pet_species_options),
        {},
        { class: 'form-select'}
    %>
    <%# parente %>
    <%# feedback_for? @listing, :"pet.species" %>
</div>

