<%= turbo_frame_tag "form_wizard", data: {turbo_action: 'advance'} do %>
	<%= form_with model: @petinfo, url: listings_pets_path, class: 'needs-validation' do |form| %>
		<div class="row mx-4">
			<%# <div class="row-12 w-100 my-3">
				<h3 class="card-header text-start">Report Lost & Found</h3>
			</div> %>
			<div class="col-md-8 col-lg-8 col-sm-12">
				<%# render 'form', form: form %>
				<div class="row text-start">
					<div class="row">
						<div class="col-md-8 col-lg-8 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :name, { class: 'form-label' } %>
								<%= form.text_field :name, { class: 'form-control' } %>
								<%= feedback_for? @petinfo, :name %>
							<% end %>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :species, { class: 'form-label' } %>
								<%= form.select :species,
                            options_for_select(pet_input_selector :species ),
                            { include_blank: true },
                            { class: 'form-select' } %>
								<%= feedback_for? @petinfo, :species %>
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :breed, { class: 'form-label' } %>
								<%= form.text_field :breed, { class: 'form-control' } %>
								<%= feedback_for? @petinfo, :size %>
							<% end %>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :color, { class: 'form-label' } %>
								<%= form.text_field :color, { class: 'form-control' } %>
								<%= feedback_for? @petinfo, :size %>
							<% end %>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :gender, { class: 'form-label' } %>
								<%= form.select :gender,
                                    options_for_select( pet_input_selector :gender ),
                                    { include_blank: true },
                                    { class: 'form-select' } %>
								<%= feedback_for? @petinfo, :gender %>
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :age, { class: 'form-label' } %>
								<%= form.text_field :age, { class: 'form-control' } %>
								<%= feedback_for? @petinfo, :size %>
							<% end %>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :coat, { class: 'form-label' } %>
								<%= form.text_field :coat, { class: 'form-control' } %>
								<%= feedback_for? @petinfo, :size %>
							<% end %>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :size, { class: 'form-label' } %>
								<%= form.select :size,
                                    options_for_select(pet_input_selector :size),
                                    { include_blank: true },
                                    { class: 'form-select' } %>
								<%= feedback_for? @petinfo, :size %>
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :height, { class: 'form-label' } %>
								<%= form.text_field :height, { class: 'form-control' } %>
								<%= feedback_for? @petinfo, :size %>
							<% end %>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :weight, { class: 'form-label' } %>
								<%= form.text_field :weight, { class: 'form-control' } %>
								<%= feedback_for? @petinfo, :size %>
							<% end %>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :microchip, { class: 'form-label' } %>
								<%= form.select :size,
                                    options_for_select([["Yes", 1], ["No", 0]]),
                                    { include_blank: true },
                                    { class: 'form-select' } %>
								<%= feedback_for? @petinfo, :size %>
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
								<%= form.label :description, { class: 'form-label' } %>
								<%= form.text_area :description, { class: 'form-control', rows: 6 } %>
								<%= feedback_for? @petinfo, :size %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12 d-flex flex-column align-items-center">
				<%= content_tag :div, "upload image", {
                    class: 'card-area', style: "width: 300px; height: 500px;",
                    data: { controller: 'image', image_target: 'imageContainer' }
                } do %>
					<%= form.label :image, { class: 'form-label my-auto' }  do %>
						<%= image_tag  "banner/placeholder.png", { class: "", style:"display: block; max-width: 100%; max-height: 100%; object-fit: contain;", alt: "pet-image", data: { image_target: "output" } } %>
						<%= form.file_field :image, {
                            class: 'image-fluid d-none',
                            multiple: false,
                            direct_upload: false,
                            data: { image_target: 'input', action: "image#handleChange"} } %>
					<% end %>
				<% end %>
			</div>
			<div class="col-8">
				<%= content_tag :div, nil, { class: "form-control text-center border-0 mt-3" } do %>
					<% form.submit "submit", class: "btn btn-light rounded-pill py-2 px-4" %>
				<% end %>
			</div>
		</div>
		<%= link_to "back", new_listings_report_path, { data: { turbo_frame: :_top}, rel: 'prev', class: "btn btn-light rounded-pill py-2 px-4 text-warning" } %>
	</div>
<% end %>
<% end %>
