<%= turbo_frame_tag "form_wizard", data: {turbo_action: 'advance'} do %>
	<div class="row row-cols-2">
		<div class="row-12 w-100 my-3">
			<h3 class="card-header text-start">Report Lost & Found</h3>
		</div>
		<%# ----- form ----- %>
		<div class="row text-start">
			<div class="col-6">
				<%= form_with model: @petinfo, url: listings_pets_path, class: 'needs-validation' do |form| %>
					<!-- image_tag  ActiveStorage::Blob.last -->
					<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
						<%= form.label :name, { class: 'form-label' } %>
						<%= form.text_field :name, { class: 'form-control' } %>
						<%= feedback_for? @petinfo, :name %>
					<% end %>
				</div>
				<div class="col-6">
					<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
						<%= form.label :species, { class: 'form-label' } %>
						<%= form.select :species,
                            options_for_select(pet_input_selector :species ),
                            { include_blank: true },
                            { class: 'form-select' } %>
						<%= feedback_for? @petinfo, :species %>
					<% end %>
				</div>
				<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
					<%= form.label :gender, { class: 'form-label' } %>
					<%= form.select :gender,
                                options_for_select( pet_input_selector :gender ),
                                { include_blank: true },
                                { class: 'form-select' } %>
					<%= feedback_for? @petinfo, :gender %>
				<% end %>
				<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
					<%= form.label :size, { class: 'form-label' } %>
					<span>optional</span>
					<%= form.select :size,
                                options_for_select(pet_input_selector :size),
                                { include_blank: true },
                                { class: 'form-select' } %>
					<%= feedback_for? @petinfo, :size %>
				<% end %>
				<%= content_tag :div, nil, { class: "form-control text-center border-0 mt-3" } do %>
					<% form.submit "submit", class: "btn btn-light rounded-pill py-2 px-4" %>
				<% end %>
			<% end %>
			<%= link_to "back", new_listings_report_path,
                        {
                            data: { turbo_frame: :_top},
                            rel: 'prev',
                            class: "btn btn-light rounded-pill py-2 px-4 text-warning"
                        }
                    %>
		</div>
	</div>
	<%# ------- image ------- %>
	<div class="text-start">
	</div>
</div>
<% end %>
