<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= pet.species %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= pet.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= pet.age %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= pet.size %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= pet.color %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= pet.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pet.weight %>
  </p>

  <p>
    <strong>Coat:</strong>
    <%= pet.coat %>
  </p>

  <p>
    <strong>Microchip:</strong>
    <%= pet.microchip %>
  </p>

  <p>
    <strong>Collar:</strong>
    <%= pet.collar %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pet.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pet.user_id %>
  </p>

</div>
