<div id="home">
	<%= render 'flash' %>
	<%= render 'home/slider_area' %>
	<%= render 'home/service_area' %>
	<%= render 'home/pet_care_area' %>
	<%= render 'home/adapt_area' %>
	<%= render 'home/testimonial_area' %>
	<%# render 'home/contact_area' %>
	<%#  %>
	<%# controller.controller_name %>
	<%# controller.view_paths %>
	<%# lookup_context.find_template("#{controller_path}/#{action_name}").identifier %>
	<%# console %>
</div>
