<div class="col-md-8 col-lg-8">
	<!-- [:listings, :reports, @listing_report] -->
	<%= form_with model: @listing_report, url: listings_reports_path, class: 'new_report' do |form| %>
		<div class="row text-start">
			<div class="col-6">
				<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
					<%= form.label  :listing_type, { class: 'form-label'}  %>
					<%= form.select :listing_type,
                        options_for_select(listing_type_options),
                        {},
                        { :class => 'form-select', auto_focus: true }
                    %>
				<% end %>
			</div>
			<div class="col-6">
				<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
					<%= form.label :date_last_seen, { class: 'form-label'} %>
					<%= form.date_field :lost_found_date, {value: Time.now.strftime("%Y-%m-%d"), class: 'form-control'} %>
					<%= feedback_for? @listing_report, :lost_found_date %>
				<% end %>
			</div>
			<div class="col-12">
				<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
					<%= form.label :Nearest_Address_Last_Seen, { class: 'form-group mb-0'} %>
					<%= form.text_field :address, { class: 'form-control box-shadow'} %>
					<%= feedback_for? @listing_report, :address %>
				<% end %>
			</div>
			<div class="col-12">
				<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
					<%= form.label 'Nearest cross streets, landmark or location', { class: 'form-group mb-0'} %>
					<%= form.text_field :crossroads, { class: 'form-control'} %>
					<%= feedback_for? @listing_report, :crossroads %>
				<% end %>
			</div>
			<div class="col-12">
				<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
					<%= form.label :pet_description, { class: 'form-group mb-0'} %>
					<%= form.text_area :pet_description, { class: 'form-control', rows: 5 } %>
					<%= feedback_for? @listing_report, :pet_description %>
				<% end %>
			</div>
			<div class="col-12">
				<%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
					<%= form.label :comment, { class: 'form-group mb-0'} %>
					<%= form.text_area :comment, { class: 'form-control', rows: 5 } %>
					<%= feedback_for? @listing_report, :comment %>
				<% end %>
			</div>
			<div class="col-12">
				<%= content_tag :div, nil, { class: "form-control text-center border-0" } do %>
					<%= form.submit "Continue", class: "boxed-btn3 border-0" %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
