<div class="row text-start">
	<%=
        form_with model: @listing_report,
        url: listings_reports_path,
        class: 'listing-report needs-validation',
        data: {
            controller: "validate",
            validate_target: "form",
            validate_status_value: true
            } do |form|
    %>
	<div class="row text-start">
		<div class="col-md-8 col-lg-8 col-sm-12">
			<%= content_tag :div, nil, { class: 'form-group mb-3'} do %>
				<%= form.label  :listing_type, { class: 'form-label' }  %>
				<%=
                    form.select :listing_type,
                    options_for_select(listing_type_options),
                    {},
                    { :class => 'form-select', auto_focus: true }
                %>
			<% end %>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-12">
			<%= content_tag :div, nil, { class: 'form-group mb-3'} do %>
				<%= form.label :date_last_seen, { class: 'form-label'} %>
				<%= form.date_field :lost_found_date, {value: Time.now.strftime("%Y-%m-%d"), class: 'form-control'} %>
				<%= feedback_for? @listing_report, :lost_found_date %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<%= content_tag :div, nil, { class: 'form-group mb-3'} do %>
				<%= form.label :Last_seed_Address, { class: 'form-group mb-0'} %>
				<%=
                    form.text_field :address, {
                    class: 'form-control box-shadow',
                    data: {
                        validate_target: 'input',
                        action: "change->validate#handleChange",
                        validate_index_param: true,
                        constrain: report_constrains[:address]
                        }
                    }
                %>
				<%= feedback_for? @listing_report, :address %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<%= content_tag :div, nil, { class: 'form-group mb-3'} do %>
				<%= form.label 'Nearest cross streets, landmark or location', { class: 'form-group mb-0'} %>
				<%=
                    form.text_field :crossroads, { class: 'form-control',
                    data: {
                        validate_target: 'input',
                        action: "change->validate#handleChange",
                        constrain: report_constrains[:crossroads]
                        }
                    }
                %>
				<%= feedback_for? @listing_report, :crossroads %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<%= content_tag :div, nil, { class: 'form-group mb-3'} do %>
				<%= form.label :pet_description, { class: 'form-group mb-0'} %>
				<%=
                    form.text_area :pet_description, { class: 'form-control', rows: 5,
                    data: {
                        validate_target: 'input',
                        action: "change->validate#handleChange",
                        constrain: report_constrains[:pet_description]
                        }
                    }
                %>
				<%= feedback_for? @listing_report, :pet_description %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<%= content_tag :div, nil, { class: 'form-group mb-3'} do %>
				<%= form.label :comment, { class: 'form-group mb-0'} %>
				<%=
                    form.text_area :comment, { class: 'form-control', rows: 5,
                    data: {
                        validate_target: 'input',
                        action: "change->validate#handleChange",
                        constrain: report_constrains[:comment]
                        }
                    }
                %>
				<%= feedback_for? @listing_report, :comment %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<%= content_tag :div, nil, { class: "form-control text-center border-0" } do %>
				<%= form.submit "Continue", class: "boxed-btn3 border-0", data: { action: "validate#handleForm" } %>
			<% end %>
		</div>
	</div>
<% end %>
</div>
