<div class="col-4 my-3">
  <div class="card m-2 card-area">
    <div class="h-50">
      <%= image_tag  listing.pet.image, {
            class: "image-fluid mx-auto d-block h-100", alt: "pet-image",
            data: {
                image_target: "output",
                bs_toggle: "tooltip",
                bs_placement: "top",
                bs_custom_class: "custom tooltip",
                bs_title: "upload your pet image"
            }
        }
        %>
    </div>
    <div class="card-body px-0 pt-3 d-flex flex-column">
      <div class="row mx-2 my-1">
        <div class="col-auto px-0">
          <h3 class="card-title text-start">
            <%= listing.pet.name %>
            <span class="fs-6 fw-light">
              <%= listing.pet.gender.capitalize %>
              <%= listing.pet.species.capitalize %>
            </span>
          </h3>
        </div>
      </div>
      <div class="row mx-2 my-1">
        <div class="col-auto px-0">
          <h4 class="text-start">
            <%= listing.listing_type.capitalize %>
            <span class="fs-6 fw-light">
              <%= listing.lost_found_date.strftime("%d %b %y") %>
            </span>
          </h4>
        </div>
      </div>
      <div class="row mx-2 my-1">
        <div class="col-auto px-0">
          <p class="text-start text-justify">
            <%= listing.address.capitalize %>
          </p>
        </div>
      </div>
      <div class="row mx-2 my-1">
        <div class="col-auto px-0">
          <p class="text-start text-justify">
            <%= listing.pet.description.capitalize.truncate(100) %>
          </p>
        </div>
      </div>
      <div class="row mx-2 my-1">
        <div class="col-auto px-0">
          <p class="text-start fst-italic">
            <i class="bi bi-flag">
              reported <%= time_ago_in_words listing.created_at  %>
            </i>
          </p>
        </div>
      </div>
      <div class="row mx-2 my-1">
        <%= link_to "View Pet", listings_pet_path(listing), {
        data: { turbo_frame: :_top },
        rel: 'next',
        class: "boxed-btn3"}
      %>
      </div>
    </div>
  </div>
</div>
