<% content_for :content do %>
	<%= turbo_frame_tag "posts_main" do %>
		<%= render 'title' %>
		<div class="container mt-5">
			<%= render 'flash' %>
			<%= yield %>
		</div>
	<% end %>
<% end %>
<%= render template: "layouts/application" %>
